// Basics
@import "helpers/colors";
@import "helpers/text";
@import "helpers/dimensions";

// Componennts
@import "components/nav";
@import "components/footer";
@import "components/input";
@import "components/button";
@import "components/cards";
@import "components/picker";
@import "components/toast";
@import "components/tooltip";

// Pages
@import "pages/about";
@import "pages/articles";
@import "pages/home";
@import "pages/participate";
@import "pages/events";
@import "pages/events-details";
@import "pages/common";

body {
    font-family: 'Roboto', sans-serif;
    color: $primary-text-color;
}

.fa {
    margin-right: 5px;
}

a {
    &.btn {
        &:hover {
            text-decoration: none;
        }
    }
}