/* Header */
/* ------ */

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #87CEFA;
}
#header img {
	width: 20px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
	border-right: 1px solid white;
}
li a {
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: underline;
}
li:last-child {
	border-right: none;
}
#header img {
	width: 20px;
}
