#container-home {
    h1 {
        font-size: 3em;
    }
    .preloader-wrapper {
        margin: 50px auto;
        display: flex;
    }
    .video-container {
        display: none;
        margin: 20px 0;
    }
}
