footer {
    &.page-footer {
        background-color: $primary-color;
        //padding-left: $side-nav-left-width;
        &.page-footer-home {
            padding-left: 0;
        }
        li {
            color: $primary-color-text;
        }
    }
    .footer-copyright {
        background-color: $primary-color-dark;
    }

    .partners {
        img {
            max-width: 50%;
            max-height: 40px;
        }
    }

    .socials {
        margin-top: 30px;
        .social {
            display: inline-flex;
            .fa {
                cursor: pointer;
                font-size: 30px;
                margin-right: 15px;
                &.fa-facebook-official {
                    color: #3C5A99;
                }
                &.fa-google-plus-official {
                    color: #DB4437;
                }
            }
        }
    }

    h5, p, a {
        color: $primary-color-text;
    }

    .fa {
        color: $primary-color-light;
    }

    .footer-next-event{
        padding: 10px;
        background-color: transparent;
        &>.next-event-link{
            transition: (color .3s ease-in-out);
            text-decoration: none;
            font-size: 13pt;
            &:hover{
                color: $primary-text-color !important;
            }
        }
    }
}
